<!DOCTYPE html>
<head>
	<title>Gene Lookup</title>
	<h1 class="pageTitle">Welcome to the ATGU's Gene Lookup</h1>
	<!--<link rel="stylesheet" type="text/css" href="http://atgu.mgh.harvard.edu/media/style.css"/>-->
</head>
<body>
	<form action="{{ url_for('lookupGene') }}" method="POST">
		Enter a gene:<input type="text" name="requestedGene">
	</form>
	<p>Ex: SCN2A<br>
	---------------------------------------------------------------<br>
	This is a test version of a new utility that provides access to expected mutation probabilities, constraint scores based on deviation of observed standing variationpatterns from this model (higher values = more constrained (fewer variants observed than expected), and a table and analysis of published and unpublished de novo mutations in several major disease categories from a curated internal database.</p>
	<div id="page">
	{% if geneMutations != None: %}
	{% if otherGeneInfo != None: %}
		<h1 class="pageTitle">{{otherGeneInfo[1]}}</h1>
		<p>Chromosome: {{otherGeneInfo[2]}}</p>
		<p>Start--Stop: {{otherGeneInfo[3]}}--{{otherGeneInfo[4]}}</p>
		<p># Base Pairs: {{otherGeneInfo[5]}}</p>
		<dl>
			<dt><b>Per Trio Probability of Mutation:</b></dt>
				<dd>Synonymous: {{otherGeneInfo[7]}}</dd>
				<dd>Missense: {{otherGeneInfo[8]}}</dd>
				<dd>Loss of Function: {{otherGeneInfo[9]}}</dd>
			<dt><b>Constraint Scores:</b></dt>
				<dd style="color: #0000FF;">Z syn: {{otherGeneInfo[23]}}</dd>
				<dd style="color: #FF0000;">Z mis: {{otherGeneInfo[24]}}</dd>
				<dd style="color: #FF0000;">Z LoF: {{otherGeneInfo[26]}}</dd>
		</dl>
		{% if isConstrained == True%}
			<p>This gene is constrained.</p>
		{% else %}
			<p>This gene is not constrained.</p>
		{% endif %}
		<a href={{url_for('downloadConstraints')}}><button style="display: block;">Download Constraint Scores</button></a>
		<button onclick="showAll()">Show All</button>
		<button onclick="hideAll()">Hide All</button>
		{% for group in geneMutations: %}
			<h1><b>{{ group[(group|length)-1] }}</b>
			<a href="javascript:ShowHide('{{ group[(group|length)-1] }}')"><img id="{{ group[(group|length)-1] }}img" src="{{url_for('static', filename='arrow_closed.jpg')}}"/></a>
			<!--<button onclick="ShowHide('{{ group[(group|length)-1] }}');">Show/Hide</button>-->
			</h1>
			<!--<a href="javascript:ShowHide('{{ group[(group|length)-1] }}');">Show/Hide</a>-->
		<div id="{{group.pop()}}" style="display: none;">
			<p>In {{triosPerStudy.pop(0)}} combined trios.</p>
			<table border="1">
				<tr>
					<td><b>Mutation Type</b></td>
					<td><b>AAchange</b></td>
					<td><b>Chr</b></td>
					<td><b>Pos</b></td>
					<td><b>Ref</b></td>
					<td><b>Alt</b></td>
					<td><b>Study</b></td>
					<td><b>Pubmed ID</b></td>
				</tr>
				{% for mutation in group: %}
					<tr>
						<td>{{mutation[1]}}</td>
						<td>{{mutation[2]}}</td>
						<td>{{mutation[3]}}</td>
						<td>{{mutation[4]}}</td>
						<td>{{mutation[5]}}</td>
						<td>{{mutation[6]}}</td>
						<td>{{mutation[8][2]}} with {{mutation[8][1]}} trios</td>
						{% if 'www' in mutation[8][3]: %}
							<td><a href="{{mutation[8][3]}}" target="_blank">{{mutation[8][3].rsplit('/', 1)[1]}}</a></td>
						{% else: %}
							<td>{{mutation[8][3]}}</td>
						{% endif %}
					</tr>
				{% endfor %}
			</table>
			<p><b>Probabilities of Mutation:</b></p>
			{% if mutProbs[0].split('\n')[0].split('\t')|length > 1 and mutProbs[0].split('\n')[1].split('\t')|length > 1: %}
				<script>
					document.write("<p>P({{mutProbs[0].split('\n')[0].split('\t')[2]}} LoF in {{secondTriosPerStudy[0]}} trios)= {{mutProbs[0].split('\n')[0].split('\t')[9]}}</p>");
					document.write("<p>P("+(parseInt({{mutProbs[0].split('\n')[1].split('\t')[3]}})+parseInt({{mutProbs[0].split('\n')[1].split('\t')[2]}})).toString()+" LoF+Missense in {{secondTriosPerStudy[0]}} trios)= {{mutProbs[0].split('\n')[1].split('\t')[9]}}</p>");
				</script>
			{% endif %}
			{% if secondTriosPerStudy.pop(0) and mutProbs.pop(0): %}{% endif %}
		</div>
		{% endfor %}
		<a href="{{ url_for('downloadGeneMuts', downloadString=strForDwnld) }}">
			<button type="button">Download This Data</button>
		</a>
	{% else: %}
		<p>Gene not found in our database.</p>
	{% endif %}
	{% endif %}
	</div>
	<script type="text/javascript">
		function addStringsInts(a, b){
			alert("addingStringInts");
			return (parseInt(a)+parseInt(b)).toString();
		}
		function showAll(){
			divs = document.getElementsByTagName('div');
			for(var i = 0; i < divs.length; i++){
				if(divs[i].id != 'page'){
					//ShowHide(divs[i].id);
					divs[i].style.display = 'inline';
					document.getElementById(divs[i].id+'img').src = "{{url_for('static', filename='arrow_open.jpg')}}";
				}
			}
		}
		function hideAll(){
			divs = document.getElementsByTagName('div');
			for(var i = 0; i < divs.length; i++){
				if(divs[i].id != 'page'){
					divs[i].style.display = 'none';
					document.getElementById(divs[i].id+'img').src = "{{url_for('static', filename='arrow_closed.jpg')}}";
				}
			}
		}
		function ShowHide(divId){
			if(document.getElementById(divId).style.display == 'none'){
				document.getElementById(divId).style.display = 'inline';
				document.getElementById(divId+'img').src = "{{url_for('static', filename='arrow_open.jpg')}}";
			} else {
				document.getElementById(divId).style.display = 'none';
				document.getElementById(divId+'img').src = "{{url_for('static', filename='arrow_closed.jpg')}}";
			}
		}
	</script>
</body>
</html>