<!DOCTYPE html>
<head>
	<title>Gene Lookup</title>
	<h2>Welcome to the ATGU's Gene Lookup</h2>
</head>
<body>
	<form action="{{ url_for('lookupGene') }}" method="POST">
		Enter a gene:<input type="text" name="requestedGene">
	</form>
	{% if geneMutations != None: %}
	<p>---------------------------------------------------------------</p>
	{% if otherGeneInfo != None: %}
		<h2>{{otherGeneInfo[1]}}</h2>
		<p>Chromosome: {{otherGeneInfo[2]}}</p>
		<p>Start--Stop: {{otherGeneInfo[3]}}--{{otherGeneInfo[4]}}</p>
		<p># Base Pairs: {{otherGeneInfo[5]}}</p>
		<dl>
			<dt><b>Per Trio Probability of Mutation:</b></dt>
				<dd>Synonymous: {{otherGeneInfo[7]}}</dd>
				<dd>Missense: {{otherGeneInfo[8]}}</dd>
				<dd>Loss of Function: {{otherGeneInfo[9]}}</dd>
			<dt><b>Constraint Scores:</b></dt>
				<dd style="color: #0000FF;">Z syn: {{otherGeneInfo[23]}}</dd>
				<dd style="color: #FF0000;">Z mis: {{otherGeneInfo[24]}}</dd>
				<dd style="color: #FF0000;">Z LoF: {{otherGeneInfo[26]}}</dd>
		</dl>
		{% if isConstrained == True%}
			<p>This gene is constrained.</p>
		{% else %}
			<p>This gene is not constrained.</p>
		{% endif %}
		<button onclick="showAll()">Show All</button>
		<button onclick="hideAll()">Hide All</button>
		{% for group in geneMutations: %}
			<h2><b>{{ group[(group|length)-1] }}</b></h2>
			<button onclick="ShowHide('{{ group[(group|length)-1] }}');">Show/Hide</button>
			<!--<a href="javascript:ShowHide('{{ group[(group|length)-1] }}');">Show/Hide</a>-->
		<div id="{{group.pop()}}" style="display: none;">
			<p>In {{triosPerStudy.pop(0)}} combined trios.</p>
			<table border="1">
				<tr>
					<td><b>Mutation Type</b></td>
					<td><b>AAchange</b></td>
					<td><b>Chr</b></td>
					<td><b>Pos</b></td>
					<td><b>Ref</b></td>
					<td><b>Alt</b></td>
					<td><b>Study</b></td>
					<td><b>Link to study</b></td>
				</tr>
				{% for mutation in group: %}
					<tr>
						<td>{{mutation[1]}}</td>
						<td>{{mutation[2]}}</td>
						<td>{{mutation[3]}}</td>
						<td>{{mutation[4]}}</td>
						<td>{{mutation[5]}}</td>
						<td>{{mutation[6]}}</td>
						<td>{{mutation[8][2]}} with {{mutation[8][1]}} trios</td>
						{% if 'www' in mutation[8][3]: %}
							<td><a href="{{mutation[8][3]}}">{{mutation[8][3]}}</a></td>
						{% else: %}
							<td>{{mutation[8][3]}}</td>
						{% endif %}
					</tr>
				{% endfor %}
			</table>
			<p><b>Probabilities of Mutation:</b></p>
			<table border="1">
				<tr>
					<td><b>Gene Name</b></td>
					<td><b>Mutations</b></td>
					<td><b>#LoF</b></td>
					<td><b>#Mis</b></td>
					<td><b>Prob(LoF)</b></td>
					<td><b>Prob(LoF+mis)</b></td>
					<td><b>Prob(mis)</b></td>
					<td><b>2*prob</b></td>
					<td><b>exp#({{secondTriosPerStudy.pop(0)}})</b></td>
					<td><b>ppois</b></td>
					<td><b>Compared to</b></td>
				</tr>
				{% for y in mutProbs.pop(0).split('\n') %}
					<tr>
						{% if (y.split('\t'))|length > 1: %}
							{% for x in y.split('\t'): %}
								<td>{{x}}</td>
							{% endfor %}
						{% endif %}
					</tr>
				{% endfor %}
			</table>
		</div>
		{% endfor %}
		<a href="{{ url_for('downloadGeneMuts', downloadString=strForDwnld) }}">
			<button type="button">Download This Data</button>
		</a>
	{% else: %}
		<p>Gene not found in our database.</p>
	{% endif %}
	{% endif %}
	<script type="text/javascript">
		function showAll(){
			divs = document.getElementsByTagName('div');
			for(var i = 0; i < divs.length; i++){
				divs[i].style.display = 'inline';
			}
		}
		function hideAll(){
			divs = document.getElementsByTagName('div');
			for(var i = 0; i < divs.length; i++){
				divs[i].style.display = 'none';
			}
		}
		function ShowHide(divId){
			if(document.getElementById(divId).style.display == 'none'){
				document.getElementById(divId).style.display = 'inline';
			} else {
				document.getElementById(divId).style.display = 'none';
			}
		}
	</script>
</body>
</html>