<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<table id="studyListTable" style="margin-left: 1em;" class="table">
		<tr>
			<td><b>Study Group</b></td>
			<td><b>Number of Studies</b></td>
			<td><b>Number of Trios in Group</b></td>
		{% for row in studyInfo: %}
			<tr>
				<td>{{row[0]}}</td>
				{% for y in range(1, row|length): %}
					<td >{{row[y]}}</td>
				{% endfor %}
			</tr>
		{% endfor %}
</body>
</html>